/* UNIVERSAL STYLES */

body {
    background-color: black;
    padding-top: 69px;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
}

/* NAVIGATION STYLING */

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    top: 0;
    left: 0;
    background-color: black;
}

.logo-container img {
    height: 50px;
    margin-left: 10px;
}

.nav-container a {
    margin: 0px 15px;
}

/* HEADER IMAGE STYLING */

header {
    padding-top: 69px;
    height: 700px;
    background-image: url(./images/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.header-text {
    background-color: black;
    width: 100%;

}

.header-text h2,
.header-text h4 {
    margin: 15px 0px;
}

/* FEATURED SECTION STYLING */

.upper-content-container {
    max-width: 1000px;
    margin: 0 auto;
}

upper-content-image-container {
    display: flex;
    flex-wrap: wrap;
}

.upper-content-image-box {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.upper-content-image-box img {
    height: 200px;
    width: 300px;
}

.upper-content-image-box h4 {
    padding-top: 10px;
    margin: 0;
}

/* LOCATION STYLING */

.lower-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/img-locations-background.jpg);
    background-size: cover;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.lower-content-location-container {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
}

.lower-content-location {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin: 15px 40px 0px 40px;
}

/* FOOTER STYLING */

footer a {
    text-decoration: none;
}

footer #copyright {
    text-align: left;
    padding-left: 20px;
}
